<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>com.example.web.StudentController</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>Subject</servlet-name>
        <servlet-class>com.example.web.SubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enroll</servlet-name>
        <servlet-class>com.example.web.EnrollController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/student.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subject</servlet-name>
        <url-pattern>/subject.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enroll</servlet-name>
        <url-pattern>/enroll.do</url-pattern>
    </servlet-mapping>
</web-app>
